Sticky Header
.stickyy {
  position: sticky;
  top: 0;
  z-index: 100000;
}

/* Code Styling */
.markdown code {
  background-color: hsl(var(--accent));
  border-radius: 4px;
  padding: 2px 6px;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

.markdown pre {
  margin: 20px 10px;
  padding: 12px;
  overflow-x: auto;
  background-color: hsl(var(--codeblock));
  border-radius: 6px;
}

.markdown pre code {
  display: block;
  background: none;
  white-space: pre;
  font-size: 1rem;
}

/* Image Styling */
/* .markdown img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
} */


/* Highlighted Text */
.markdown mark {
  background-color: yellow;
  border-radius: 4px;
}

/* Headings */
.markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: bold;
  /* white-space: nowrap; */
  font-family: 'BBPR', serif;
  word-wrap: break-word; /* Ensures long words break */
  overflow-wrap: break-word;
}

.markdown h2 {
  margin-top: 50px !important;
  font-size: 1.75rem;
  line-height: 2.25rem;
  /* margin-top: 3rem; */
  margin-bottom: 1rem;
}



.markdown h3 {
  font-size: 1.35rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* General Text Styling */
.markdown {
  font-size: 1.08rem;
  line-height: 1.625;
  font-weight: 500;
}

.markdown p, .markdown ul, .markdown ol {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 1.35rem;
  letter-spacing: 0.6px;
  font-family: 'BBPR', serif;
}

.markdown li {
  margin: 5px 0;
}

/* Blockquote Styling */
.markdown blockquote {
  border-left: 3px solid grey;
  padding-left: 1.1rem;
  margin: 15px 0;
  color: hsl(var(--muted-foreground));
}

/* Responsive Styling */
@media screen and (max-width: 1020px) {
  .markdown p, .markdown ul, .markdown ol {
    font-size: 1.27rem;
  }
}
